<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>درباره ما</h3>
                        <p>Lorem ipsum به سادگی متن ساختگی صنعت چاپ و حروفچینی است. Lorem ipsum از سالهای 1500 تاکنون متن ساختگی استاندارد صنعت بوده است.</p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>پیوندهای سریع</h3>
                        <ul>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="services.html">رویه ها</a></li>
                            <li><a href="gallery.html">گالری</a></li>
                            <li><a href="contact-us.html">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>اطلاعات تماس</h3>
                        <ul>
                            <li><i class="fa fa-send" aria-hidden="true"></i> 3481 مکان Rabana ، 2090</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> +880 17980XXXXX</li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@example.com</li>
                            <li><i class="fa fa-fax" aria-hidden="true"></i> نمابر: 02 9635 0247</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3>ساعت کاری</h3>
                        <ul class="bussiness-hour">
                            <li>دوشنبه تا جمعه: <span class="pull-right">9 صبح - 5 عصر</span></li>
                            <li>شنبه: <span class="pull-right">10 صبح - 2 بعد از ظهر</span></li>
                            <li>یکشنبه |بسته است <span class="pull-right">کپی حق چاپ 2018. کلیه حقوق محفوظ است.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="copyright">
                        <p>Copyright &copy; 2018. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="social-icons pull-right">
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="back-top">
    <a href="#"><i class="fa fa-angle-up"></i></a>
</div>
