
<ul>
    <% data.forEach(function(user){ %>
        <li><%- user.fname %></li>
    <% }); %>
</ul>



<section class="inner-page-banner" style="background-image:url('/public/templates/amella/img/banner/about-banner.jpg')">
        <div class="page-banner-caption">
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <h1>درباره ما</h1>
                                        <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                                                <li class="breadcrumb-item active">درباره ما</li>
                                        </ol>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- end banner -->

<section class="section-spacing">
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-6">
                                <div class="img-block wow fadeIn">
                                        <img src="/public/templates/amella/img/team/our-story.jpg" alt="">
                                        <div class="play-button">
                                                <a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <div class="text-block wow fadeIn">
                                        <h2>تاریخ ما</h2>
                                        <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                                        <p>Lorem ipsum dolor sit amet، consectetur adipiscing elit. Morbi fermentum justo vitae convallis varius. بدون لبخند غم انگیز به عنوان ماتیس جعبه درمانی. لورم بسیار هویج ، تجربه کارشناسی را افزایش می دهد. Morbi fermentum justo vitae convallis varius. بدون لبخند غم انگیز به عنوان جعبه درمانی املاک و مستغلات.</p>
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- end our history -->

<section class="section-spacing inverse-bg">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="section-title text-center">
                                        <h2><span>با کارشناسان ما آشنا شوید</span></h2>
                                        <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/1.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>تسفا</h3>
                                                <h6>متخصص مو</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>تسفا</h3>
                                                <h6>متخصص مو</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/2.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>روی گومج</h3>
                                                <h6>پیام خبره</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>روی گومج</h3>
                                                <h6>پیام خبره</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/3.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>جولیا شورز</h3>
                                                <h6>درمانگر پوست</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>جولیا شورز</h3>
                                                <h6>درمانگر پوست</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/4.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>شارمین آکتر</h3>
                                                <h6>خدمات خبره</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>شارمین آکتر</h3>
                                                <h6>خدمات خبره</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/5.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>تسفا</h3>
                                                <h6>متخصص مو</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>تسفا</h3>
                                                <h6>متخصص مو</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/6.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>روی گومج</h3>
                                                <h6>پیام خبره</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>روی گومج</h3>
                                                <h6>پیام خبره</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/7.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>جولیا شورز</h3>
                                                <h6>درمانگر پوست</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>جولیا شورز</h3>
                                                <h6>درمانگر پوست</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="team wow fadeIn">
                                        <div class="thumb">
                                                <img src="/public/templates/amella/img/team/8.jpg" alt="">
                                        </div>
                                        <div class="team-info text-center">
                                                <h3>شارمین آکتر</h3>
                                                <h6>خدمات خبره</h6>
                                        </div>
                                        <div class="team-overlay text-center">
                                                <h3>شارمین آکتر</h3>
                                                <h6>خدمات خبره</h6>
                                                <ul class="social-icons">
                                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-12 text-center">
                                <a href="contact-us.html" class="btn btn-primary">مطالب ما</a>
                        </div>
                </div>
        </div>
</section>
<!-- end team member -->

<section class="section-spacing">
        <div class="container">
                <div class="row align-items-center">
                        <div class="col-md-6">
                                <div class="appoinment-text wow fadeIn">
                                        <h2>Make an قرار ملاقات?</h2>
                                        <p>کلاس با ازدواج ما پیچ و تاب استخدام را آغاز کرد ، به گفته او ، بچه ها ساکنان گلدان را از سن پیری غمگین می کنند.</p>
                                        <p>Call us : 002-6666-8888 or fill out our online booking & equiry form and we’ll contact you.</p>
                                        <a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-primary">Make قرار ملاقات</a>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="appoinment-img text-md-right text-center wow fadeIn">
                                        <img class="tilt-img" src="/public/templates/amella/img/appointment/1.png" alt="">
                                </div>
                        </div>
                </div>
        </div>
</section>
<!-- end appointment -->
