
<section class="inner-page-banner" style="background-image:url('/public/templates/amella/img/banner/blog-banner.jpg')">
    <div class="page-banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>آخرین اخبار</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active">وبلاگ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->

<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>آخرین اخبار</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/1.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/2.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/3.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/4.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/5.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="news-block">
                    <div class="news-thumb">
                        <img src="/public/templates/amella/img/news/6.jpg" alt="">
                        <div class="overlay">
                            <a href="blog-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="news-bottom">
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-user"></i> مدیر</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 20 اکتبر 2018</li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i> 10</li>
                        </ul>
                        <h3><a href="blog-single.html">The balance & harmony of body and mind</a></h3>
                        <p>Lorem ipsum dolor sit amet ، elite adipiscing consectetur ، sed tempor و نشاط ، به طوری که زحمت و غم و اندوه ، برخی از کارهای مهم برای انجام eiusmod. با گذشت سالها ، من خواهم آمد ، که از مزیت ورزش برای او محروم می شود ، بنابراین اگر محله مدرسه و طول عمر تلاش کند ، محرک خواهد بود.</p>
                        <a href="blog-single.html" class="btn btn-link">ادامه مطلب <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>

                <div class="pagination-container">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <form method="post" action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter keyword..." name="search">
                                <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                            </div>
                        </form>
                    </div>
                    <!--end sidebar-item-->

                    <div class="sidebar-item sidebar-widget">
                        <h3>اسپای گیاهی</h3>
                        <ul class="category-list">
                            <li><a href="#">پیام سنگی</a></li>
                            <li><a href="#">پیام بدن</a></li>
                            <li><a href="#">رایحه درمانی</a></li>
                            <li><a href="#">بایگانی</a></li>
                        </ul>
                    </div>
                    <!--end sidebar-item-->

                    <div class="sidebar-item sidebar-widget">
                        <h3>اکتبر 2018</h3>
                        <ul class="archive-list">
                            <li><a href="#">مه 2018</a></li>
                            <li><a href="#">آوریل 2018</a></li>
                            <li><a href="#">مارس 2018</a></li>
                            <li><a href="#">فوریه 2018</a></li>
                            <li><a href="#">ژانویه 2018</a></li>
                            <li><a href="#">Cloud های برچسب</a></li>
                        </ul>
                    </div>
                    <!--end sidebar-item-->

                    <div class="sidebar-item sidebar-widget">
                        <h3>آبگرم</h3>
                        <ul class="tag-list">
                            <li><a href="#">مرکز سلامتی</a></li>
                            <li><a href="#">سالن زیبایی</a></li>
                            <li><a href="#">مراقبت از زیبایی</a></li>
                            <li><a href="#">ماساژ</a></li>
                            <li><a href="#">سالن</a></li>
                            <li><a href="#">مراقبت از پوست</a></li>
                            <li><a href="#">درباره ما</a></li>
                        </ul>
                    </div><!--end sidebar-item-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end news -->
