<section class="carousel slide" id="banner" data-ride="carousel" data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url('/public/templates/amella/img/banner/slide-1.jpg')">
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="hero-text">
                                <h6 class="animated fadeInDown">مهمتر از همه</h6>
                                <h1 class="animated fadeInUp">Soft & Pure Spa Salon</h1>
                                <p class="animated fadeInUp">Lorem ipsum dolor sit amet، elite adipiscing consectetur. Vestibulum tincidunt ullamcorper magna ، از نویسنده و روی صفحه کلید.</p>
                                <a href="contact-us.html" class="btn btn-primary animated fadeInUp">تماس با ما</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" style="background-image:url('/public/templates/amella/img/banner/slide-2.jpg')">
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="hero-text">
                                <h6 class="animated fadeInLeft">مهمتر از همه</h6>
                                <h1 class="animated fadeInLeft">Soft & Pure Spa Salon</h1>
                                <p class="animated fadeInLeft">Lorem ipsum dolor sit amet، elite adipiscing consectetur. Vestibulum tincidunt ullamcorper magna ، از نویسنده و روی صفحه کلید.</p>
                                <a href="contact-us.html" class="btn btn-primary animated fadeInLeft">تماس با ما</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" style="background-image:url('/public/templates/amella/img/banner/slide-3.jpg')">
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="hero-text">
                                <h6 class="animated fadeInRight">مهمتر از همه</h6>
                                <h1 class="animated fadeInRight">Soft & Pure Spa Salon</h1>
                                <p class="animated fadeInRight">Lorem ipsum dolor sit amet، elite adipiscing consectetur. Vestibulum tincidunt ullamcorper magna ، از نویسنده و روی صفحه کلید.</p>
                                <a href="contact-us.html" class="btn btn-primary animated fadeInRight">تماس با ما</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ol class="carousel-indicators">
            <li data-target="#banner" data-slide-to="0" class="active"></li>
            <li data-target="#banner" data-slide-to="1"></li>
            <li data-target="#banner" data-slide-to="2"></li>
        </ol>
    </div>
</section>
<!-- end banner -->

<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>Our خدمات</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="service-single.html"><img src="/public/templates/amella/img/services/1.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="service-single.html">آبگرم گیاهی</a></h3>
                        <p>Lorem ipsum به سادگی متن ساختگی صنعت چاپ و حروفچینی است. Lorem ipsum ساختگی استاندارد صنعت بوده است.</p>
                        <a href="service-single.html" class="btn btn-default">ادامه مطلب</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="service-single.html"><img src="/public/templates/amella/img/services/2.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="service-single.html">سنگ PM</a></h3>
                        <p>Lorem ipsum به سادگی متن ساختگی صنعت چاپ و حروفچینی است. Lorem ipsum ساختگی استاندارد صنعت بوده است.</p>
                        <a href="service-single.html" class="btn btn-default">ادامه مطلب</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-item wow fadeIn">
                    <div class="thumb">
                        <a href="service-single.html"><img src="/public/templates/amella/img/services/3.jpg" alt=""></a>
                    </div>
                    <div class="service-info text-center">
                        <h3><a href="service-single.html">متن پیام</a></h3>
                        <p>Lorem ipsum به سادگی متن ساختگی صنعت چاپ و حروفچینی است. Lorem ipsum ساختگی استاندارد صنعت بوده است.</p>
                        <a href="service-single.html" class="btn btn-default">ادامه مطلب</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="services.html" class="btn btn-primary">All خدمات</a>
            </div>
        </div>
    </div>
</section>
<!-- end services -->

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="img-block wow fadeIn">
                    <img src="/public/templates/amella/img/why-choose/1.jpg" alt="">
                    <div class="play-button">
                        <a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="text-block wow fadeIn">
                    <h2>چرا ما را انتخاب کنید؟</h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                    <ul>
                        <li>ایجاد شده از گیاه طبیعی</li>
                        <li>100٪ برای پوست شما بی خطر است</li>
                        <li>از سایر روشهای درمان آبگرم بی نظیر است</li>
                        <li>ایجاد شده توسط متخصصان پزشکی آزمایشگاه آبگرم</li>
                        <li>Special gifts & offers for you</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end why choose -->

<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>طرح قیمت تخفیف</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/1.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>پایه</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>29.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/2.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>متوسط ​​| برش ناخن</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>39.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/3.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>رنگ آمیزی مو</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>49.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing -->

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>127 پسندیدن</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/1.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/1.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>مراقبت از پوست</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/2.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/2.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>مراقبت از پوست</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/3.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/3.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>مراقبت از پوست</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/4.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/4.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>متن پیام</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/5.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/5.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>متن پیام</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="gallery-item wow fadeIn">
                    <a href="/public/templates/amella/img/gallery/6.jpg" class="venobox" data-gall="gallery">
                        <img src="/public/templates/amella/img/gallery/6.jpg" alt="">
                        <div class="gallery-caption text-center">
                            <i class="fa fa-heart-o"></i>
                            <p>127 پسندیدن</p>
                            <h3>متن پیام</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end gallery -->

<section class="section-spacing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="appoinment-text wow fadeIn">
                    <h2>Make an قرار ملاقات?</h2>
                    <p>قرار ملاقات</p>
                    <p>Call us : 002-6666-8888 or fill out our online booking & equiry form and we’ll contact you.</p>
                    <a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-primary">Make قرار ملاقات</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="appoinment-img text-md-right text-center wow fadeIn">
                    <img class="tilt-img" src="/public/templates/amella/img/appointment/1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end appointment -->

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>تسفیا</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="team wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/team/1.jpg" alt="">
                    </div>
                    <div class="team-info text-center">
                        <h3>تسفیا</h3>
                        <h6>متخصص مو</h6>
                    </div>
                    <div class="team-overlay text-center">
                        <h3>تسفیا</h3>
                        <h6>متخصص مو</h6>
                        <ul class="social-icons">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="team wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/team/2.jpg" alt="">
                    </div>
                    <div class="team-info text-center">
                        <h3>سالینا گومج</h3>
                        <h6>کارشناس پیام</h6>
                    </div>
                    <div class="team-overlay text-center">
                        <h3>سالینا گومج</h3>
                        <h6>کارشناس پیام</h6>
                        <ul class="social-icons">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="team wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/team/3.jpg" alt="">
                    </div>
                    <div class="team-info text-center">
                        <h3>جولیا شورز</h3>
                        <h6>درمانگر پوست</h6>
                    </div>
                    <div class="team-overlay text-center">
                        <h3>جولیا شورز</h3>
                        <h6>درمانگر پوست</h6>
                        <ul class="social-icons">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="team wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/team/4.jpg" alt="">
                    </div>
                    <div class="team-info text-center">
                        <h3>شارمین آکتر</h3>
                        <h6>متخصص درمان</h6>
                    </div>
                    <div class="team-overlay text-center">
                        <h3>شارمین آکتر</h3>
                        <h6>متخصص درمان</h6>
                        <ul class="social-icons">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="team.html" class="btn btn-primary">درمانگران</a>
            </div>
        </div>
    </div>
</section>
<!-- end team member -->

<section class="section-spacing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="fun-fact-img wow fadeIn">
                    <img class="tilt-img" src="/public/templates/amella/img/fun-facts/1.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <div class="features-info">
                            <span class="counter">800</span>
                            <h3>رویه ها</h3>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <div class="features-info">
                            <span class="counter">50</span>
                            <h3>درمان ها</h3>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <div class="features-info">
                            <span class="counter">35</span>
                            <h3>مشتریان خوشحال</h3>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-center">
                        <div class="features-info">
                            <span class="counter">890</span>
                            <h3>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردها را با لورم ایپسوم و گواهی شده توسط dolor set amet حفظ می کنیم.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end fun facts -->

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>Happy رویه ها</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردهای تعیین شده توسط لورم ایپسوم و تأیید شده توسط جریان اصلی مصرف کننده را حفظ می کنیم.</p>
                </div>
            </div>
        </div>

        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-list">
                <div class="author-comment">
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <p>مشتری Envato</p>
                </div>
                <div class="author-info">
                    <div class="author_thumb">
                        <img src="/public/templates/amella/img/testimonials/1.png" alt="">
                    </div>
                    <div class="author-meta">
                        <span class="author-name">متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای "واقعی" پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست.</span>
                        <span class="designation"><em>الکس اسمیت</em></span>
                    </div>
                </div>
            </div>
            <div class="testimonial-list">
                <div class="author-comment">
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <p>مشتری Envato</p>
                </div>
                <div class="author-info">
                    <div class="author_thumb">
                        <img src="/public/templates/amella/img/testimonials/2.png" alt="">
                    </div>
                    <div class="author-meta">
                        <span class="author-name">متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای "واقعی" پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. |دیوید وارنر</span>
                        <span class="designation"><em>الکس اسمیت</em></span>
                    </div>
                </div>
            </div>
            <div class="testimonial-list">
                <div class="author-comment">
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <p>مشتری Envato</p>
                </div>
                <div class="author-info">
                    <div class="author_thumb">
                        <img src="/public/templates/amella/img/testimonials/3.png" alt="">
                    </div>
                    <div class="author-meta">
                        <span class="author-name">متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای "واقعی" پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست.</span>
                        <span class="designation"><em>الکس اسمیت</em></span>
                    </div>
                </div>
            </div>
            <div class="testimonial-list">
                <div class="author-comment">
                    <div class="quote">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <p>مشتری Envato</p>
                </div>
                <div class="author-info">
                    <div class="author_thumb">
                        <img src="/public/templates/amella/img/testimonials/1.png" alt="">
                    </div>
                    <div class="author-meta">
                        <span class="author-name">متن ساختگی متنی است که در صنعت نشر یا طراحان وب برای اشغال فضایی استفاده می شود که بعداً با محتوای "واقعی" پر خواهد شد. این مورد زمانی الزامی است که مثلاً متن نهایی هنوز در دسترس نیست. |دیوید وارنر</span>
                        <span class="designation"><em>الکس اسمیت</em></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end team testimonials -->
