<section class="inner-page-banner" style="background-image:url('/public/templates/amella/img/banner/pricing-banner.jpg')">
    <div class="page-banner-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>قیمت گذاری Plan</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
                        <li class="breadcrumb-item active">قیمت گذاری Plan</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->

<section class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2><span>ارزانترین طرح قیمت گذاری</span></h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردها را با لورم ایپسوم و گواهی شده توسط dolor set amet حفظ می کنیم.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/1.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>پایه</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>29.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/2.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>متوسط ​​| برش ناخن</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>39.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-table wow fadeIn">
                    <div class="thumb">
                        <img src="/public/templates/amella/img/pricing/3.jpg" alt="">
                    </div>
                    <div class="pricing-info text-center">
                        <h3>برش ناخن</h3>
                        <ul>
                            <li>برش ناخن</li>
                            <li>رنگ آمیزی مو</li>
                            <li>آبگرم درمانی</li>
                            <li>ماساژ بدن</li>
                            <li>مانیکور</li>
                        </ul>
                        <h2><sub>$</sub>49.00</h2>
                        <a href="contact-us.html" class="btn btn-default">تماس با ما</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing -->

<section class="section-spacing inverse-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="img-block wow fadeIn">
                    <img src="/public/templates/amella/img/why-choose/1.jpg" alt="">
                    <div class="play-button">
                        <a href="#" data-toggle="modal" data-target="#video-modal"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="text-block wow fadeIn">
                    <h2>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردها را با لورم ایپسوم و گواهی شده توسط dolor set amet حفظ می کنیم.</h2>
                    <p>محصول ما کاملا شخصی و متعادل برای تمام سنین مشتریان یا بزرگسالان است. ما استانداردها را با لورم ایپسوم و گواهی شده توسط dolor set amet حفظ می کنیم.</p>
                    <ul>
                        <li>100٪ برای پوست شما بی خطر است</li>
                        <li>از سایر روشهای درمان آبگرم بی نظیر است</li>
                        <li>ایجاد شده توسط متخصصان پزشکی آزمایشگاه آبگرم</li>
                        <li>پیشنهادات ویژه هدایا برای شما</li>
                        <li>Special gifts & offers for you</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end why choose -->

<section class="section-spacing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="appoinment-text wow fadeIn">
                    <h2>Make an قرار ملاقات?</h2>
                    <p>با ما تماس بگیرید: 002-6666-8888 یا فرم مربوط به رزرو آنلاین ما را پر کنید و ما با شما تماس خواهیم گرفت.</p>
                    <p>Call us : 002-6666-8888 or fill out our online booking & equiry form and we’ll contact you.</p>
                    <a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-primary">Make قرار ملاقات</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="appoinment-img text-md-right text-center wow fadeIn">
                    <img class="tilt-img" src="/public/templates/amella/img/appointment/1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end appointment -->

